.under-glow {
	 position: relative;
	 box-sizing: border-box;
	 /* border-radius: 8px;
	 box-shadow: 0 0 0 1px rgba(0, 0, 0, .01); */
}
.under-glow::before {
	 position: absolute;
	 content: "";
	 top: 10px;
	 left: 0;
	 right: 0;
	z-index: -1;
	 height: 100%;
	 width: 100%;
	 transform: scale(0.9) translateZ(0);
	 filter: blur(15px);
	 background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
	 background-size: 200% 200%;
}
 .under-glow.animate::before {
	 animation: animateUnderGlow 2.5s linear infinite;
}
 @keyframes animateUnderGlow {
	 0% {
		 background-position: 0% 50%;
	}
	 100% {
		 background-position: 200% 50%;
	}
}
.backlight {
	 position: relative;
	 text-align: center;
}
.backlight:after {
	 position: absolute;
	 content: "";
	 top: 100%;
	 left: 0;
	 right: 0;
	 z-index: -1;
	 height: 100%;
	 width: 100%;
	 margin: 0 auto;
	 transform: scale(0.75);
	 -webkit-filter: blur(5vw);
	 -moz-filter: blur(5vw);
	 -ms-filter: blur(5vw);
	 filter: blur(5vw);
	 background: linear-gradient(270deg, #0fffc1, #7e0fff);
	 background-size: 100% 200%;
}
.backlight.animate {
	animation: backlightAnimateText 10s ease infinite;
}
.backlight.animate:after {
	 animation: backlightAnimate 10s ease infinite;
}
 @keyframes backlightAnimate {
	 0% {
		 background-position: 0% 50%;
	}
	 50% {
		 background-position: 100% 50%;
	}
	 100% {
		 background-position: 0% 50%;
	}
}
 @keyframes backlightAnimateText {
	 0% {
		 color: #7e0fff;
	}
	 50% {
		 color: #0fffc1;
	}
	 100% {
		 color: #7e0fff;
	}
}

.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #60efff 0%, #0061ff 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/*
* Prevents issues when the parent creates a
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
