@tailwind base;
@tailwind components;
@tailwind utilities;

@property --magic-card-rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --magic-card-height: 300px;
  --magic-card-width: 300px;
  
  
}
.magic-card {
  padding: 3px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  
  cursor: pointer;
  font-family: cursive;
}



.magic-card::before {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0px;
  border-radius: 8px;
  filter: blur(1px);
  background-image: linear-gradient(
    var(--magic-card-rotate)
    , #5ddcff, #3c67e3 50%, #4e00c2);
    position: absolute;
    z-index: 1;
    /* top: 0; */
    left: 0;
	animation-direction: alternate-reverse;
    animation: magic-card-bottom 30s linear infinite;
}

.magic-card::after {
  position: absolute;
  content: "";
  /* top: calc(var(--magic-card-height) / 6); */
  bottom: 5px;
  left: 0;
  /* right: 0; */
  z-index: -1;
  height: 5px;
  width: 100%;
  /* margin: 0 auto; */
  /* transform: scale(0.8); */
  filter: blur(10px);
  background-image: linear-gradient(
    var(--magic-card-rotate)
    , #5ddcff, #3c67e3 50%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation-direction: alternate-reverse;
  animation: magic-card-bottom 30s linear infinite;
}

@keyframes magic-card-spin {
  0% {
    /* --magic-card-rotate: 0deg; */
	left: 100%;
		 width: 10%;
  }
  100% {
    /* --magic-card-rotate: 360deg; */
	width: 5%;
		 left: 0%;
  }
}
@keyframes magic-card-bottom {
	0% {
		 left: 100%;
		 width: 0%;
		 opacity: 0;
	}
	33% {
		 left: 66%;
		 width: 2%;
		 opacity: 0.5;
	}
	66% {
		 left: 33%;
		 width: 5%;
		 opacity: 1;
	}
	 100% {
		 width: 0%;
		 left: 0%;
		 opacity: 0;
	}
}















.under-glow {
	 position: relative;
	 box-sizing: border-box;
	 /* border-radius: 8px;
	 box-shadow: 0 0 0 1px rgba(0, 0, 0, .01); */
}
.under-glow::before {
	 position: absolute;
	 content: "";
	 top: 10px;
	 left: 0;
	 right: 0;
	z-index: -1;
	 height: 100%;
	 width: 100%;
	 transform: scale(0.9) translateZ(0);
	 filter: blur(15px);
	 background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
	 background-size: 200% 200%;
}
 .under-glow.animate::before {
	 animation: animateUnderGlow 2.5s linear infinite;
}
 @keyframes animateUnderGlow {
	 0% {
		 background-position: 0% 50%;
	}
	 100% {
		 background-position: 200% 50%;
	}
}
.backlight {
	 position: relative;
	 text-align: center;
}
.backlight:after {
	 position: absolute;
	 content: "";
	 top: 100%;
	 left: 0;
	 right: 0;
	 z-index: -1;
	 height: 100%;
	 width: 100%;
	 margin: 0 auto;
	 transform: scale(0.75);
	 -webkit-filter: blur(5vw);
	 -moz-filter: blur(5vw);
	 -ms-filter: blur(5vw);
	 filter: blur(5vw);
	 background: linear-gradient(270deg, #0fffc1, #7e0fff);
	 background-size: 100% 200%;
}
.backlight.animate {
	animation: backlightAnimateText 10s ease infinite;
}
.backlight.animate:after {
	 animation: backlightAnimate 10s ease infinite;
}
 @keyframes backlightAnimate {
	 0% {
		 background-position: 0% 50%;
	}
	 50% {
		 background-position: 100% 50%;
	}
	 100% {
		 background-position: 0% 50%;
	}
}
 @keyframes backlightAnimateText {
	 0% {
		 color: #7e0fff;
	}
	 50% {
		 color: #0fffc1;
	}
	 100% {
		 color: #7e0fff;
	}
}

.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #60efff 0%, #0061ff 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/*
* Prevents issues when the parent creates a
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
.animated-border-box, .animated-border-box-glow{
  /* max-height: 200px;
  max-width: 250px; */
  /* height: 100%; */
  width: 100%;
  position: absolute;
  overflow: hidden; 
  z-index: 0;
}

.animated-border-box-glow{
  overflow: hidden;
  /* Glow Blur */
  filter: blur(20px);
}

.animated-border-box:before, .animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
	width: 99999px;
	height: 99999px;
	background-repeat: no-repeat;
	background-position: 0 0;
  /*border color, change middle color*/
	background-image: conic-gradient(rgba(0,0,0,0), #aa0000, rgba(0,0,0,0) 25%);
  /* change speed here */
	animation: rotate 10s linear infinite;
}

.animated-border-box:after {
	content: '';
	position: absolute;
	z-index: -1;
  /* border width */
	left: 0px;
	top: 0px;
  /* double the px from the border width left */
	width: 100% ;
	height: calc(100% - 3px);
  /*bg color*/
/* background: #292a2e; */
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}